--USE [POKEDEX_DB]
--GO
--/****** Object:  StoredProcedure [dbo].[storedModificarPokemon]    Script Date: 20/11/2022 6:30:14 p. m. ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create procedure storedAltaPokemon
--@Numero int,
--@Nombre varchar(50),
--@Descripcion varchar(50),
--@UrlImagen varchar (300),
--@IdTipo int,
--@IdDebilidad int
--as
--insert into POKEMONS values (@Numero, @Nombre, @Descripcion, @UrlImagen, @IdTipo, @IdDebilidad, null, 1 )

--create procedure storedLista as
--select Numero, Nombre, P.Descripcion, UrlImagen, E.Descripcion Tipo,
--D.Descripcion Debilidad, P.IdTipo, P.IdDebilidad, P.Id, P.Activo
--from POKEMONS P, ELEMENTOS E, ELEMENTOS D
--Where E.Id = P.IdTipo and D.Id = P.IdDebilidad

--create procedure storedModificarPokemon
--@Numero int,
--@Nombre varchar(50),
--@Descripcion varchar(50),
--@UrlImagen varchar (300),
--@IdTipo int,
--@IdDebilidad int,
--@Id int
--as
--update POKEMONS set Numero = @Numero, Nombre = @Nombre, Descripcion = @Descripcion, UrlImagen = @UrlImagen, IdTipo = @IdTipo,
--IdDebilidad = @IdDebilidad
--Where Id = @Id